<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Famagusta Hospital</a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Patient login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Academy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Graduate Medical Education</a>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit">Request an Appointment</button>
      </form>
    </div>
</nav>
